.cards-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 0;
}

.card {
    background-color: #001e31;
    color: rgb(196, 191, 191);
    padding: 20px;
    border-radius: 10px;
}

.completed-card{
    background-color: var(--primary-color);
}

