.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 17px;
  align-items: center;
  color: white;
  background: linear-gradient(97deg, #0a1929 1.27%, #120c1f 75.23%);
  
  &-top {
    gap: 15px;
  }

  .site-name {
    text-decoration: none;
  }

  .date-time {
    font-size: 14px;
  }

  h1 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 800;
    
    .croco {
      color: #27b654;
    }

    .bet {
      color: white;
    }
  }
}
