<div class="cards-container" *ngIf="posts$ | async as posts">
    <h1></h1>
    <div *ngFor="let post of posts">
      <div class="card custom-card">
        <div class="card-header">
          <h2> <span class="primary-class">ID:</span> {{ post.id }}</h2>
        </div>
        <div class="card-body">
          <h3 class="card-title">
            <span class="primary-class">
            Title:</span> {{ post.title }}
          </h3>
          <p class="card-text">
            <span class="primary-class">
            Description: </span> {{ post.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
  