body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-background);
  line-height: 1.6;
  color:var(--primary-text-color);
}

:root {
  --primary-color: #27b654;
  --primary-background: #001e28;
  --primary-text-color: white;
}

.primary-class {
  color: var(--primary-color) !important;
}

.primary-btn-class {
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-button {
  background-color: transparent;
  color: var(--primary-text-color);
  outline: none;
  border: none;
  cursor: pointer;
}
