.table-title {
  text-align: center;
  font-weight: 400;
  line-height: 45px;
  font-size: 45px;
  letter-spacing: 1px;
  color: white;
  text-transform: capitalize;
  font-family: "Kanit", sans-serif !important;
  padding: 70px 0 15px 0;
}

:host ::ng-deep .mat-mdc-select {
  color: black !important;
}

.filter-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.select-field {
  flex: 0 0 20%;
}

.search-field {
  flex: 1;
}

